<container>
	<row class="footer">
		<columns>
			<row class="footer-email">
				<columns>
					<row>
						<center>
							<a href="#">View email online</a>
						</center>
					</row>
					<row>
						<center>
							<img src="https://i.imgur.com/3wOLSVZ.png" alt="THG Ingenuity" />
						</center>
					</row>
				</columns>
			</row>
			<row class="footer-info">
				<columns>
					<p class="text-center">2022 © The Hut.com Limited</p>
					<p class="text-center">
						(trading as Myprotein) Registered in England No.5016010. Registered
						office: 5th Floor, Voyager <br />
						House, Chicago Avenue, Manchester Airport M90 3DQ.
					</p>
					<row class="footer-links">
						<columns valign="middle">
							<span class="text-center">
								<a href="#">Privacy Policy </a>

								&nbsp; | &nbsp;

								<a href="#">Add a safe senders list</a>

								&nbsp; | &nbsp;

								<a class="link" href="#">Unsubscribe</a>
							</span>
						</columns>
					</row>
				</columns>
			</row>
			<row class="footer-bottom">
				<columns>
					<p class="text-center">
						Prices and titles correct at the time of sending e-mail & are
						subject to availability. Savings based on RRP <br />
						*Unless otherwise stated usual discount code exclusions will apply.
						Please refer to website for further details
					</p>
				</columns>
			</row>
		</columns>
	</row>
</container>
